{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron hero-cazier page-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="hero-content">
                    <h1>Despre</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container about-cazier">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="about-intro">
                <h2>Raportare completă a istoricului unui vehicul</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et finibus quam, et scelerisque ligula. Quisque at scelerisque metus. Vestibulum eu enim nulla. Sed iaculis mattis leo, nec sollicitudin elit fringilla eget. Phasellus porta, nulla
                    id blandit tempus, tortor elit blandit ante, ac sagittis libero tortor vel tortor.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="feature-cazier">
                <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                <h3>Număr kilometri</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod volutpat malesuada.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="feature-cazier">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                <h3>Istoric accidente</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod volutpat malesuada.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="feature-cazier">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                <h3>Daune ascunse</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod volutpat malesuada.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <span class="separator"></span>
            <div class="about-intro">
                <h2>Suport pentru autovehicule importate din străinătate</h2>
                <p>Germania, Anglia, Italia, Portugalia, Austria, Ungaria, Grecia, Bulgaria, Croația, Macedonia, Croația, Germania, Anglia, Italia, Portugalia, Austria, Ungaria</p>
            </div>
        </div>
        <div class="col-sm-12">
            <img src="{% static 'images/about-map-01.jpg' %}" class="img-responsive">
        </div>
    </div>
</div>
{% endblock %}
