{% extends 'base.html' %}

{% block content %}
<div class="jumbotron hero-cazier page-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="hero-content">
                    <h1>Rezultat căutări</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="vin-details">
    <div class="container">
        <div class="report-notice">
            <div class="alert alert-danger" role="alert">Seria de șasiu nu a fost găsită</div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="header-cazier">1. DETALII VEHICUL pentru seria de șasiu</h3>
            </div>

            <div class="col-sm-12">
                <table class="table table-striped table-vehicul">
                    <thead>
                        <tr>
                            <td class="table-title data-type" colspan="5">marca/model</td>
                        </tr>
                        <tr class="table-header">
                            <td>Marca</td>
                            <td>Model</td>
                            <td>An de fabricație</td>
                            <td>Capacitate cilindrică</td>
                            <td>Combustibil</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <div class="report-notice">
                <div class="alert alert-danger" role="alert">Trebuie să fii înregistrat pentru a vizualiza raportul complet.</div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="header-cazier">2. ISTORIC SERVICE pentru seria de șasiu</h3>
                </div>
                <div class="col-sm-12">
                    <table class="table table-striped table-daune">
                        <thead>
                            <tr>
                                <td class="table-title data-type" colspan="6">DAUNE</td>
                            </tr>
                            <tr class="table-header">
                                <td>Data</td>
                                <td>Localitate</td>
                                <td>Unitate</td>
                                <td>Descriere</td>
                                <td>Cost</td>
                                <td>Desfășurător</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-12">
                    <table class="table table-striped table-reparatii">
                        <thead>
                            <tr>
                                <td class="table-title data-type" colspan="5">REPARAȚII</td>
                            </tr>
                            <tr class="table-header">
                                <td>Data</td>
                                <td>Descriere</td>
                                <td>Cost</td>
                                <td>Kilometri</td>
                                <td>Detalii</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>




            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="header-cazier">3. ISTORIC ITP pentru seria de șasiu</h3>
                </div>
                <div class="col-sm-12">
                    <table class="table table-striped table-vehicul">
                        <thead>
                            <tr>
                                <td class="table-title data-type" colspan="4">ITP</td>
                            </tr>
                            <tr class="table-header">
                                <td>Data înregistrării</td>
                                <td>Valabil până la</td>
                                <td>Service/Reprezentanță</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
